body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 3px solid gray;
    border-top: 3px solid crimson;
    border-radius: 50%;

    /* animation */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.blink {
    font-size: 20px;
    font-weight: bold;

    animation:blink 2s linear infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 100;
    }
    50% {
        opacity: 0;
    }
}