.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 150px);
    /* 150px 150px 150px*/
}

.item {
    border: 1px solid white;
}

.item1 {
    background-color: red;
    grid-column: auto / span 6;
}

.item2 {
    background-color: orangered;
    grid-row: 2 / 4;
}

.item3 {
    background-color: yellow;
    grid-column: 2 / 6;
}

.item4 {
    background-color: orange;
    grid-column: 2 / 4;
}

.item5 {
    background-color: greenyellow;
    grid-column: 4 / 6;
}

.item6 {
    background-color: green;
    grid-column: 6;
    grid-row: 2 / 4
}


.item7 {
    background-color: blue;
    grid-column: auto / span 6;
}