  .box {
            width: 100px;
            height: 100px;
            background-color: black;
            color: white;
            text-align: center;
            overflow: auto;
            transition: all 1s liner 0.5s
        }

    .box:hover{
        width: 300px;
        height: 300px;
    }
