/* 속성 선택자: [] */
[disabled] {
    background-color: red;
}

[placeholder="이름"] {
    background-color: orange;
}

input:not([placeholder]) {
    background-color: blue;
}

/* 속성값이 특정 단어를 포함하는 요소 ~= */
[class~='not'] {
    background-color:yellow;
}

/* 속성값이 특정 접두사로 시작하는 경우 ^= */
[href^='https'] {
    color:red;
}